---
---
.navbar-brand {
  display: none!important;
}
.card {
  border: 1px solid #188eac;
}
.card-content {
    display: none;
}
.button.is-primary {
    display: none;
}
.content h1 {
    color: lightseagreen!important;
}
.content h2 {
    color: darkseagreen!important;
}
// Import Main CSS file from theme
@import "main";
