---
---
.navbar-brand {
  display: none!important;
}
.card {
  border: 1px solid #188eac;
}
.card-content {
    display: none;
}
.button.is-primary {
    display: none;
}
.content h1 {
    color: lightseagreen!important;
    font-size: 2.1em!important;
    font-weight: bolder!important;
}
.content h2 {
    color: darkseagreen!important;
    font-size: 1.6em!important;
    font-weight: 600!important;
}
.content h3 {
    color: slategray!important;
    font-weight: normal!important;
    font-style: italic;
}
// Import Main CSS file from theme
@import "main";
